In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [5]:
df = pd.read_csv('Social_Network_Ads.csv')

In [6]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [8]:
df.shape

(400, 5)

In [17]:
# using this we have converted the categorical value to numerical
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df['Gender'] = label_encoder.fit_transform(df['Gender'])

df.dtypes

User ID            int64
Gender             int64
Age                int64
EstimatedSalary    int64
Purchased          int64
dtype: object

In [19]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510       1   19            19000          0
1    15810944       1   35            20000          0
2    15668575       0   26            43000          0
3    15603246       0   27            57000          0
4    15804002       1   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863       0   46            41000          1
396  15706071       1   51            23000          1
397  15654296       0   50            20000          1
398  15755018       1   36            33000          0
399  15594041       0   49            36000          1

[400 rows x 5 columns]

In [18]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [23]:
X = df.drop('Purchased',axis=1)
Y = df['Purchased']

In [24]:
xtrain, xtest, ytrain, ytest = train_test_split(X, Y, test_size = 0.2)

In [25]:
model = LogisticRegression()

In [26]:
model.fit(xtrain,ytrain)

LogisticRegression()

In [29]:
from sklearn.metrics import confusion_matrix ,classification_report

In [31]:
ypred = model.predict(xtest)

In [32]:
conf_matrix = confusion_matrix(ytest,ypred)

In [36]:
tp = conf_matrix[0][0]
fn = conf_matrix[0][1]
fp = conf_matrix[1][0]
tn = conf_matrix[1][1]

accuracy = (tp+tn)/(tp+fn+fp+tn)
print(accuracy)

precision = (tp)/(tp+fp)
print(precision)

recall = (tp)/(tp+fn)
print(recall)

0.75
0.6984126984126984
0.9777777777777777

In [37]:
print(classification_report(ytest, ypred))

              precision    recall  f1-score   support

           0       0.70      0.98      0.81        45
           1       0.94      0.46      0.62        35

    accuracy                           0.75        80
   macro avg       0.82      0.72      0.72        80
weighted avg       0.80      0.75      0.73        80