In [1]:
# Perform the following operations on any open-source dataset (e.g., data.csv)
# Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variable. For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each response to the categorical variable.
# Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris- verginica’ of iris.csv dataset.
# Provide the codes with outputs and explain everything that you do in this step.

In [5]:
import pandas as pd

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/GaneshPatil1806/PICT_SEM6/main/DSBDA/nba.csv")
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df.describe()

In [36]:
# to calculate the statistics of the age grouped by teams
summary_statistics = df.groupby('Team')['Age'].describe()
print(summary_statistics)

                        count       mean       std   min    25%   50%    75%  \
Team
Atlanta Hawks            15.0  28.200000  4.229151  22.0  24.00  27.0  31.00
Boston Celtics           15.0  24.733333  2.840188  20.0  22.00  25.0  27.00
Brooklyn Nets            15.0  25.600000  3.018988  21.0  23.50  26.0  27.50
Charlotte Hornets        15.0  26.133333  3.159265  21.0  23.50  27.0  28.50
Chicago Bulls            15.0  27.400000  4.188419  21.0  24.50  27.0  30.50
Cleveland Cavaliers      15.0  29.533333  4.120795  24.0  25.00  30.0  33.00
Dallas Mavericks         15.0  29.733333  3.712271  22.0  28.00  31.0  31.50
Denver Nuggets           15.0  25.733333  4.742915  20.0  22.00  25.0  28.00
Detroit Pistons          15.0  26.200000  4.443294  20.0  23.00  25.0  28.50
Golden State Warriors    15.0  27.666667  3.848314  20.0  25.50  28.0  30.50
Houston Rockets          15.0  26.866667  4.323799  22.0  23.50  27.0  30.00
Indiana Pacers           15.0  26.400000  3.157757  20.0  24.50  27.0  29.00
Los Angeles Clippers     15.0  29.466667  4.897035  23.0  27.00  29.0  31.00
Los Angeles Lakers       15.0  27.533333  5.289702  20.0  23.50  27.0  31.00
Memphis Grizzlies        18.0  28.388889  5.585052  21.0  24.00  28.0  33.25
Miami Heat               15.0  28.933333  4.861902  20.0  25.00  30.0  32.50
Milwaukee Bucks          16.0  24.562500  3.520772  19.0  21.00  24.5  27.00
Minnesota Timberwolves   14.0  26.357143  5.930458  20.0  21.50  25.0  28.75
New Orleans Pelicans     19.0  26.894737  2.233451  23.0  25.00  27.0  28.50
New York Knicks          16.0  27.000000  4.179314  20.0  23.75  26.0  30.50
Oklahoma City Thunder    15.0  27.066667  4.832430  21.0  24.00  26.0  29.00
Orlando Magic            14.0  25.071429  3.429830  20.0  23.00  24.5  26.00
Philadelphia 76ers       15.0  24.600000  4.563833  20.0  22.00  24.0  25.00
Phoenix Suns             15.0  25.866667  4.240395  19.0  22.50  25.0  29.00
Portland Trail Blazers   15.0  25.066667  3.634491  20.0  23.00  24.0  26.50
Sacramento Kings         15.0  26.800000  3.529468  22.0  24.50  27.0  28.50
San Antonio Spurs        15.0  31.600000  5.766901  22.0  27.00  33.0  35.50
Toronto Raptors          15.0  26.133333  3.961722  20.0  23.50  25.0  29.00
Utah Jazz                15.0  24.466667  2.445599  20.0  23.00  24.0  26.00
Washington Wizards       15.0  27.866667  4.389381  20.0  24.50  29.0  31.00

                         max
Team
Atlanta Hawks           35.0
Boston Celtics          29.0
Brooklyn Nets           32.0
Charlotte Hornets       31.0
Chicago Bulls           35.0
Cleveland Cavaliers     35.0
Dallas Mavericks        37.0
Denver Nuggets          36.0
Detroit Pistons         36.0
Golden State Warriors   33.0
Houston Rockets         38.0
Indiana Pacers          30.0
Los Angeles Clippers    39.0
Los Angeles Lakers      37.0
Memphis Grizzlies       39.0
Miami Heat              36.0
Milwaukee Bucks         32.0
Minnesota Timberwolves  40.0
New Orleans Pelicans    31.0
New York Knicks         34.0
Oklahoma City Thunder   38.0
Orlando Magic           32.0
Philadelphia 76ers      37.0
Phoenix Suns            33.0
Portland Trail Blazers  34.0
Sacramento Kings        36.0
San Antonio Spurs       40.0
Toronto Raptors         36.0
Utah Jazz               28.0
Washington Wizards      34.0

In [18]:
# list of numeric values for each response (mean age for each team):
numeric_values = summary_statistics['Age']['mean'].tolist()
print("Numeric values for each response (mean age for each team):", numeric_values)

Numeric values for each response (mean age for each team): [28.2, 24.733333333333334, 25.6, 26.133333333333333, 27.4, 29.533333333333335, 29.733333333333334, 25.733333333333334, 26.2, 27.666666666666668, 26.866666666666667, 26.4, 29.466666666666665, 27.533333333333335, 28.38888888888889, 28.933333333333334, 24.5625, 26.357142857142858, 26.894736842105264, 27.0, 27.066666666666666, 25.071428571428573, 24.6, 25.866666666666667, 25.066666666666666, 26.8, 31.6, 26.133333333333333, 24.466666666666665, 27.866666666666667]

In [20]:
# part 2
iris_data = pd.read_csv('Iris.csv')

In [37]:
print(iris_data)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [38]:
species_to_filter = ['Iris-setosa', 'Iris-versicolor','Iris-virginica']
filtered_data = iris_data[iris_data['Species'].isin(species_to_filter)]

In [39]:
print(filtered_data)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [40]:
iris_data['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [47]:
print(iris_data[iris_data.Species=='Iris-setosa'].describe().transpose(),"\n")
print(iris_data[iris_data.Species=='Iris-virginica'].describe().transpose(),"\n")
print(iris_data[iris_data.Species=='Iris-setosa'].describe().transpose())

               count    mean        std  min     25%   50%     75%   max
Id              50.0  25.500  14.577380  1.0  13.250  25.5  37.750  50.0
SepalLengthCm   50.0   5.006   0.352490  4.3   4.800   5.0   5.200   5.8
SepalWidthCm    50.0   3.418   0.381024  2.3   3.125   3.4   3.675   4.4
PetalLengthCm   50.0   1.464   0.173511  1.0   1.400   1.5   1.575   1.9
PetalWidthCm    50.0   0.244   0.107210  0.1   0.200   0.2   0.300   0.6

               count     mean        std    min      25%     50%      75%  \
Id              50.0  125.500  14.577380  101.0  113.250  125.50  137.750
SepalLengthCm   50.0    6.588   0.635880    4.9    6.225    6.50    6.900
SepalWidthCm    50.0    2.974   0.322497    2.2    2.800    3.00    3.175
PetalLengthCm   50.0    5.552   0.551895    4.5    5.100    5.55    5.875
PetalWidthCm    50.0    2.026   0.274650    1.4    1.800    2.00    2.300

                 max
Id             150.0
SepalLengthCm    7.9
SepalWidthCm     3.8
PetalLengthCm    6.9
PetalWidthCm     2.5

               count    mean        std  min     25%   50%     75%   max
Id              50.0  25.500  14.577380  1.0  13.250  25.5  37.750  50.0
SepalLengthCm   50.0   5.006   0.352490  4.3   4.800   5.0   5.200   5.8
SepalWidthCm    50.0   3.418   0.381024  2.3   3.125   3.4   3.675   4.4
PetalLengthCm   50.0   1.464   0.173511  1.0   1.400   1.5   1.575   1.9
PetalWidthCm    50.0   0.244   0.107210  0.1   0.200   0.2   0.300   0.6

In [58]:
# manual calculations
mean = df['Age'].mean()
print(mean)

mean = df['Age'].sum()/df['Age'].count()
print(mean)

# variance 
var = ((df['Age']-mean)*(df['Age']-mean)).sum()/(df['Age'].count())
print(df['Age'].var())
print(var)

26.938730853391686
26.938730853391686
19.395360666436343
19.35292005228658