In [1]:
# Perform the following operations on any open-source dataset (e.g., data.csv)
# Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variable. For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each response to the categorical variable.
# Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris- verginica’ of iris.csv dataset.
# Provide the codes with outputs and explain everything that you do in this step.

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/GaneshPatil1806/PICT_SEM6/main/DSBDA/nba.csv')

In [6]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df.dropna(inplace=True)

In [21]:
df['Height'].value_counts()

6-9     49
6-7     37
6-6     36
6-8     36
6-10    32
6-5     29
6-11    29
6-4     28
6-3     25
7-0     20
6-2     13
6-1     12
6-0     10
7-1      3
5-11     3
5-9      1
7-2      1
Name: Height, dtype: int64

In [23]:
df.groupby(df['Height']).get_group('6-11')

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0
55,Nerlens Noel,Philadelphia 76ers,4.0,PF,22.0,6-11,228.0,Kentucky,3457800.0
56,Jahlil Okafor,Philadelphia 76ers,8.0,C,20.0,6-11,275.0,Duke,4582680.0
60,Christian Wood,Philadelphia 76ers,35.0,PF,20.0,6-11,220.0,UNLV,525093.0
73,Jason Thompson,Toronto Raptors,1.0,PF,29.0,6-11,250.0,Rider,245177.0
81,Festus Ezeli,Golden State Warriors,31.0,C,26.0,6-11,265.0,Vanderbilt,2008748.0
91,Cole Aldrich,Los Angeles Clippers,45.0,C,27.0,6-11,250.0,Kansas,1100602.0
98,DeAndre Jordan,Los Angeles Clippers,6.0,C,27.0,6-11,265.0,Texas A&M,19689000.0
113,Ryan Kelly,Los Angeles Lakers,4.0,PF,25.0,6-11,230.0,Duke,1724250.0
143,DeMarcus Cousins,Sacramento Kings,15.0,C,25.0,6-11,270.0,Kentucky,15851950.0
162,Joakim Noah,Chicago Bulls,13.0,C,31.0,6-11,232.0,Florida,13400000.0
163,Bobby Portis,Chicago Bulls,5.0,PF,21.0,6-11,230.0,Arkansas,1391160.0
167,Channing Frye,Cleveland Cavaliers,9.0,PF,33.0,6-11,255.0,Arizona,8193029.0
173,Sasha Kaun,Cleveland Cavaliers,14.0,C,31.0,6-11,260.0,Kansas,1276000.0
188,Andre Drummond,Detroit Pistons,0.0,C,22.0,6-11,279.0,Connecticut,3272091.0
208,Myles Turner,Indiana Pacers,33.0,PF,20.0,6-11,243.0,Texas,2357760.0
209,Shayne Whittington,Indiana Pacers,42.0,PF,25.0,6-11,250.0,Western Michigan,845059.0
216,John Henson,Milwaukee Bucks,31.0,PF,25.0,6-11,229.0,North Carolina,2943221.0
220,Greg Monroe,Milwaukee Bucks,15.0,C,26.0,6-11,265.0,Georgetown,16407500.0
224,Miles Plumlee,Milwaukee Bucks,18.0,C,27.0,6-11,249.0,Duke,2109294.0
239,Dwight Powell,Dallas Mavericks,7.0,PF,24.0,6-11,240.0,Stanford,845059.0
240,Charlie Villanueva,Dallas Mavericks,3.0,PF,31.0,6-11,232.0,Connecticut,947276.0
294,LaMarcus Aldridge,San Antonio Spurs,12.0,PF,30.0,6-11,240.0,Texas,19689000.0
298,Tim Duncan,San Antonio Spurs,21.0,C,40.0,6-11,250.0,Wake Forest,5250000.0
316,Mike Muscala,Atlanta Hawks,31.0,PF,24.0,6-11,240.0,Bucknell,947276.0
339,Chris Bosh,Miami Heat,1.0,PF,32.0,6-11,235.0,Georgia Tech,22192730.0
399,Gorgui Dieng,Minnesota Timberwolves,5.0,C,26.0,6-11,241.0,Louisville,1474440.0
418,Enes Kanter,Oklahoma City Thunder,11.0,C,24.0,6-11,245.0,Kentucky,16407500.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0

In [27]:
df.groupby('Team')['Weight'].describe()

,count,mean,std,min,25%,50%,75%,max
Team,,,,,,,,
Atlanta Hawks,11.0,220.181818,22.238787,186.0,203.00,225.0,238.50,246.0
Boston Celtics,12.0,218.000000,27.617517,180.0,188.75,220.0,235.75,260.0
Brooklyn Nets,13.0,216.153846,26.232442,175.0,200.00,219.0,221.00,275.0
Charlotte Hornets,13.0,216.692308,24.533598,184.0,200.00,210.0,240.00,250.0
Chicago Bulls,12.0,211.583333,25.745108,161.0,190.75,222.5,230.00,250.0
Cleveland Cavaliers,11.0,222.090909,27.591501,179.0,198.00,220.0,244.50,260.0
Dallas Mavericks,12.0,220.000000,25.775252,185.0,200.00,224.0,234.00,270.0
Denver Nuggets,9.0,208.666667,21.189620,175.0,190.00,214.0,225.00,235.0
Detroit Pistons,15.0,222.200000,28.899333,172.0,205.00,210.0,242.50,279.0
Golden State Warriors,12.0,225.833333,26.869494,175.0,215.00,222.5,243.75,265.0
Houston Rockets,11.0,213.909091,23.657787,185.0,193.00,215.0,232.50,252.0
Indiana Pacers,12.0,222.333333,25.613680,180.0,202.50,223.5,244.75,255.0
Los Angeles Clippers,14.0,222.214286,27.585332,175.0,196.25,227.5,246.25,265.0
Los Angeles Lakers,12.0,234.916667,27.520103,194.0,210.00,240.0,252.50,270.0
Memphis Grizzlies,13.0,219.153846,26.111448,165.0,210.00,226.0,230.00,260.0
Miami Heat,10.0,226.600000,22.162030,186.0,220.00,230.0,238.75,265.0
Milwaukee Bucks,14.0,222.642857,25.378995,190.0,200.50,221.0,245.25,265.0
Minnesota Timberwolves,8.0,217.500000,21.895857,189.0,198.00,217.5,238.00,244.0
New Orleans Pelicans,16.0,214.125000,21.409889,170.0,204.50,220.0,225.00,253.0
New York Knicks,11.0,223.636364,21.105794,195.0,207.50,220.0,240.00,255.0
Oklahoma City Thunder,14.0,228.285714,22.662842,185.0,210.75,229.0,248.75,255.0
Orlando Magic,10.0,216.000000,31.867782,175.0,188.75,215.0,243.75,260.0
Philadelphia 76ers,14.0,219.857143,26.500674,175.0,202.00,212.5,240.75,275.0
Phoenix Suns,13.0,215.153846,27.706335,175.0,190.00,209.0,230.00,260.0
Portland Trail Blazers,15.0,218.600000,25.178789,173.0,203.00,215.0,240.00,265.0
Sacramento Kings,13.0,221.923077,30.062328,175.0,195.00,228.0,240.00,270.0
San Antonio Spurs,11.0,220.818182,23.094667,185.0,199.50,230.0,237.50,250.0
Toronto Raptors,10.0,216.200000,22.655880,190.0,197.50,213.5,231.25,250.0
Utah Jazz,10.0,220.400000,21.077634,191.0,206.00,220.0,230.25,265.0
Washington Wizards,13.0,215.000000,20.342894,190.0,198.00,207.0,225.00,250.0